<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
</head>
<body>
    {% block body %}
    
    <navbar>
        <div id="encabezado">
            <h1>CALENDARK</h1>
            <h3>¡Bienvenido a su agenda personal!</h3>
        </div>
        <div id="login">
            <a href="{% url 'login' %}">
                <button type="button">
                    Iniciar sesión
                </button>
           </a>
        </div>
        <div id="registro">
           <a href="{% url 'new_user' %}">
                <button type="button">
                    Crear usuario
                </button>
           </a>
        </div>
    </navbar>


    {% endblock body %}
</body>
</html>